/*Padding and border added to at least one element
Margin added to at least one element
At least one centered element (a footer message can be nice for this)
A background image on at least one element
A few elements styled using a class
A different color for visited links
An element styled with an ID*/


/* Top page of website */

* {
	margin: 0;
	padding: 0;
}

#header_beginning {
	color: #808000;
}

#header_end {
	color: #8B0000;
	padding-bottom: 40px;
}

h1 {
	padding: 0;
	margin: auto;
	font-size: 100px;
	text-align: center;
	font-family: 'Abril Fatface', cursive;
}

#nav_bar {
	padding: 20px;
	margin: auto;
	width: 80%;
	font-size: 22px;
	font-family: 'Raleway', sans-serif;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
}

#header a {
	padding-left: 30px;
}

#intro_p {
	display: block;
	float: left;
	width: 40%;
	padding: 30px 0px 30px 50px;
	background: pink;
}

#intro_photo {
	display: inline-block;
	float: right;
	width: 50%;
	padding: 30px 0px 30px 50px;
	background: royalblue;
	vertical-align: middle;
}

/* Meat of website */

body {
	margin: auto;
	max-width: 75%;
}


/*h2::before,
h3::before {
	content: "";
	clear:both;
	padding: 100px 0px;
}*/

/* General */

h3 {
	background-color: #6B8E23;
	font-size: 60px;
	color: #8B0000;
	clear: both;
	font-family: 'Raleway', sans-serif;
	padding: 20px;
	margin: 50px 0px;
	text-indent: 20px;
}

p {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	padding: 15px;
}

body {
	width: 100%;
}

/* Sights */

#mosteiro {
	width: 50%;
	float: left;
}

#carmo {
	width: 50%;
	float: right;
}

#image {
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
}

#mosteiro p,
#carmo p {
	font-size: 15px;
	padding: 10px;
}

/* Food & Drink */

table {
    border-collapse: collapse;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

th {
	background: #F5F5F5;
	border: 1px solid black;
	color: ##778899;
	padding: 10px;
}

td {
	padding: 5px;
}

/* Useful Phrases */

#unordered_list {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	width: 60%;
	display: inline-block;
	float: left;
}

#ordered_list {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	width: 30%;
	display: inline-block;
	float: right;
}

/* Photo Cred */

#photo_cred p {
	font-size: 14px;
}

/*
things follows by float, do not have the 150px padding
unable to center intro_photo
*/


